@model RGC_Service.Models.RGC_Service_Project_Model.JobStatusViewModel



<div class="card">
    <div class="card-header bg-cyan">
        <h3 class="card-title">Customer Information</h3>
    </div>
    <div class="card-body">


        <div class="row mb-md-1">
            @Html.LabelFor(m => m.CustName, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.CustName, new { @class = "form-control" })
            </div>
        </div>

        <div class="row mb-md-1">
            @Html.LabelFor(m => m.CustAddress1, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.CustAddress1, new { @class = "form-control" })
            </div>
        </div>

        <div class="row mb-md-1">
            @Html.LabelFor(m => m.CustAddress2, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.CustAddress2, new { @class = "form-control" })
            </div>
        </div>

        <div class="row mb-md-1">
            @Html.LabelFor(m => m.CustEmail, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.CustEmail, new { @class = "form-control" })
            </div>
        </div>

    </div>
</div>
