@using RGC_Service.Models.RGC_Service_Project_Model;
@model JobDeliveryViewModel
@{
    ViewBag.Title = "JobDelivery";
}


<div class="card">
	<div class="card-header bg-gradient-danger">
		<h3 class="card-title">Job Delivery Details</h3>
	</div>
	
	<div class="card-body">
		<fieldset disabled>
			<div class="row mb-1">

				<div class="col-md-5">
					@Html.Partial("_PartialCustomerDetails", Model)
				</div>

				<div class="col-md-7">
					@Html.Partial("_PartialDateInfo", Model)
				</div>


				@*@Html.Action("GetAccessoriesByCategory", "Others", new { category = "CTV" })*@

			</div>
			<div class="row">
				<div class="col-md-5">
					@Html.Partial("_PartialProductDetails", Model)
				</div>

				<div class="col-md-7">
					@Html.Partial("_PartialTabView", Model)
				</div>
			</div>
		
		</fieldset>

	
			<div class="row">
				<div class="col-md-7">
					<div class="card">
						<div class="card-header bg-gradient-cyan">
							<h3 class="card-title">Product Details</h3>
						</div>
						<div class="card-body" style="min-height:325px">
							<div class="row mb-md-1">
								@Html.Partial("_PartialPartListJobWise", Model.ListofParts)
							</div>
							<div class="row  mb-md-1">
								@Html.LabelFor(m => m.Remk, new { @class = "control-label col-md-4" })
								<div class="col-md-8">
									@Html.TextBoxFor(m => m.Remk, new { @class = "form-control" })
								</div>
							</div>

							<div class="row">
								@Html.LabelFor(m => m.MRNO, new { @class = "control-label col-md-4" })
								<div class="col-md-8">
									@Html.TextBoxFor(m => m.MRNO, new { @class = "form-control" })
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="col-md-5">
					@Html.Partial("_PartialDeliveryInfo", Model)
				</div>
			</div>
	

	</div>
	<div class="card-footer">

	</div>
</div>
