@using RGC_Service.Models.RGC_Service_Project_Model
@using RGC_Service.Models.BussinessModel
@model NRViewModel
@{
    ViewBag.Title = "Not Repairable";
}


<style>
    /*midalign for vertical middle of form*/
    /*Start .midalign*/

    /*End .midalign*/
</style>

<script type="text/javascript">










    $(document).ready(function () {
        LoadInitialize() //Call on Jquery Load
        function LoadInitialize() {
            var val = $('#drdNRby option:selected').val()


            $('#lblPendingBy').text($('#drdNRby option:selected').val());

        }
        $('#drdNRby').change(function () {

            LoadInitialize();

        })

    })
</script>

<div class="row">

    <div class="col-md-12">

        <div class="card">
            @using (Html.BeginForm("Create", "NR", FormMethod.Post))
            {
                Html.AntiForgeryToken();
                <div class="card-header  bg-info text-white">
                    <h2 class="card-title">Aborted Entry</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        @Html.HiddenFor(m => m.JobCode)
                        @Html.ValidationMessageFor(m => m.JobCode, null, new { @class = "text-danger" })
                    </div>
                    <div class="row">



                        @foreach (NRDetailsModel nr in Model.GetAllNR)
                        {


                            <div class=" col-md-6">
                                <label class="control-label">
                                    <input type="checkbox" value="@nr.NRCode" checked="@nr.IsSelected" id="NRCode" name="NRCode" /> @nr.NRCode
                                </label>
                            </div>

                            if (nr.NRCode.ToLower() == "Other".ToLower())
                            {

                                <div class="col-md-12 mb-2">
                                    <label class="control-label">
                                        <input type="checkbox" value="@nr.NRCode" checked="@nr.IsSelected" id="NRCode" name="NRCode" /> @nr.NRCode
                                    </label>
                                    <textarea class="form-control" cols="40" rows="5" name="NRCodeOthers" id="NRCodeOthers">@Model.NRCodeOthers</textarea>
                                </div>

                            }

                        }
                        @* ------------------------------------------ End of Col-md-12  ----------------------- *@

                    </div>

                    <div class="row mb-2">

                        <div class="col-md-7">
                            <div class="row">

                                <label class="control-label col-md-4">Aborted By:</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.NRBy, Model.ListofEmployee, new { @class = "form-control", @id = "drdNRby" })
                                </div>
                                <label class="control-label col-md-2 bg-gray-light" id="lblPendingBy"></label>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">


                                <label class="control-label col-md-3">Date:</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.NRDate, "{0:dd-MMM-yy}", new { @class = "form-control datePicker" })
                                    @*<input type="date" name="NRDate" class="form-control" />*@
                                </div>

                            </div>
                        </div>

                    </div>


                    @* ------------------------------------------ End of Row ----------------------- *@



                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-block btn-default btn-sm" value="Save">
                        </div>
                        <div class="col-md-12">
                            @if (Model.blnNRValidation == false)
                            {
                                <p style="font-size:20px; color:red">@Model.NRValidationMessage</p>
                            }
                        </div>
                    </div>


            


                </div>
                        @* ----------------------- End of Card Body  Part --------------------------*@
                <div class="card-footer bg-info">
                    
                </div>
            }

        </div>
    </div>
</div>
